body, html,{
    height: 100%;
    margin: 0;
}
.wrapper{
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f5f3f3;
}
.jumbotron{
    margin-bottom: 0;
    text-align: center;
    background-color: #56E39F;
    color: rgba(255, 255, 255, 0.872);
}
h1.display-4{
    margin-bottom: 20px;
}
.lead{
    padding-bottom: 0;
}
.image-container{
    background-color: pink;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
}
img:hover{
    opacity: 0.75;
}
#projects{
    text-align: center;
    color: rgba(135, 132, 132, 0.872);
    background-color: #eee8e8;
}


